<form action="edit_author" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="<%= authors.name %>">
    <br>
    <label>Surname</label>
    <input type="text" name="surname" value="<%= authors.surname %>">
    <br>
    <input type="submit" value="edit">
</form>